*.pdf
bin
obj
.vs
.vscode
.DS_Store
appsettings.json
*.db

*.swp
*.*~
project.lock.json
*.pyc
nupkg/

# User-specific files
/node_modules
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn
